.shadow-white{text-shadow: 1px 1px #FFFFFF;}
.shadow-grey{text-shadow: 1px 1px #333333;}
h2{margin-bottom: 20px; }
.white-text{color: #FFFFFF}
.overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:500px; /* your iframe height */
   top:500px;  /* your iframe height */
   margin-top:-500px;  /* your iframe height */
}